.heading {
	margin: 0 -40px;
	padding: 15px 40px;
	color: $secondaryColor;
	position: relative;
}
.heading.heading-1 {
	background: $secondaryBg;
}
.heading.heading-2 {
	background: #e4e4e4;
}
.heading.heading-3 {
	background: $purpleBg;
}
.heading-btn {
	position: absolute;
	right: 9999px;
	top: 0;
}