<div class="widget widget-{{ widgetItemType }} widget-{{ align.value }}">
	<ul class="widget-list">
		<li ng-if="url" class="widget-item" widget-btn-url="url"></li>
		<li ng-if="align" class="widget-item" widget-btn-align="align"></li>
		<li ng-if="fontWeight" class="widget-item" widget-btn-font-weight="fontWeight"></li>
		<li ng-if="fontSize" class="widget-item" widget-btn-font-size="fontSize"></li>
		<li ng-if="color" class="widget-item" widget-btn-color="color" widget-btn-color-view="view" widget-btn-color-bg="background"></li>
		<li ng-if="viewHeading" class="widget-item view-heading-item" widget-btn-view-heading="viewHeading"></li>

		<li ng-if="upload" class="widget-item" widget-btn-upload="upload"></li>
		<li ng-if="overflow" class="widget-item" widget-btn-overflow="overflow"></li>
		<li ng-if="width" class="widget-item" widget-btn-width="width"></li>
		<li ng-if="height" class="widget-item height-item" widget-btn-height="height"></li>
		<li ng-if="viewImage" class="widget-item view-item" widget-btn-view-image="viewImage"></li>
		<li ng-if="visibility" class="widget-item" widget-btn-visibility="visibility"></li>
		<li ng-if="listSettings" class="widget-item" widget-btn-list-settings="listSettings"></li>
		<li ng-if="addListItem" class="widget-item" widget-btn-add-list-item="addListItem" widget-btn-add-list-item-data="data"></li>
		<li ng-if="bannerHeading" class="widget-item item-bannerHeading" widget-btn-banner-heading="bannerHeading"></li>
		<li ng-if="bannerText" class="widget-item item-bannerText" widget-btn-banner-text="bannerText"></li>
		<li ng-if="bannerLink" class="widget-item item-bannerLink" widget-btn-banner-link="bannerLink"></li>
		<li ng-if="position" class="widget-item" widget-btn-position="position"></li>
		<li ng-if="positionVertical" class="widget-item" widget-btn-position-vertical="positionVertical"></li>
		<li ng-if="positionHorisontal" class="widget-item" widget-btn-position-horisontal="positionHorisontal"></li>
		<li ng-if="featureSettings" class="widget-item" widget-btn-feature-settings="featureSettings"></li>
		<li ng-if="bannerSettings" class="widget-item" widget-btn-banner-settings="bannerSettings"></li>
		<li ng-if="linkType" class="widget-item" widget-btn-link-type="linkType"></li>
	</ul>
</div>
