<a href="#" st-icon="'view'" ng-click="triggerToggleDrop($event)" tabindex="-1">View</a>
<div class="widget-drop">
	<a href="#" st-icon="'image'" ng-class="{ 'active': widgetBtnViewImage.value == 'square' }" ng-click="changeView($event, 'square')" tabindex="-1" class="icon-image-square"></a>
	<a href="#" st-icon="'image'" ng-class="{ 'active': widgetBtnViewImage.value == 'semiRound' }" ng-click="changeView($event, 'semiRound')" tabindex="-1" class="icon-image-semiRound"></a>
	<a href="#" st-icon="'image'" ng-class="{ 'active': widgetBtnViewImage.value == 'round' }" ng-click="changeView($event, 'round')" tabindex="-1" class="icon-image-round"></a>
</div>
