/* COLORS start */
$primaryBg: #f9f9f9;
$primaryBgHover: #f9f9f9; // Change

$secondaryBg: #121212;
$secondaryBgHover: #444;

$greyBg: #c5c5c5;
$greyBgHover: #c5c5c5; // Change

$purpleBg: #6331d5;
$purpleBgHover: #6331d5; // Change

$primaryColor: #121212;
$secondaryColor: #f9f9f9;
$greyColor: #c5c5c5;
$lightGreyColor: #e4e4e4;
$purpleColor: #6331d5;

$primaryBorder: #121212;
$secondaryBorder: #f9f9f9;
$greyBorder: #c5c5c5;
$purpleBorder: #6331d5;
/* COLORS end */