/* SIZES start */
$primaryFontSize: 14px;
$primaryLineHeight: 1em;

$h1FontSize: 50px;
$h2FontSize: 36px;
$h3FontSize: 24px;
$h4FontSize: 20px;
$h5FontSize: 18px;
$h6FontSize: 16px;
$headingLineHeight: 1.5em;
/* SIZES end */