.h1,
h1 {
	font-size: $h1FontSize;
	line-height: $headingLineHeight;
}
.h2,
h2 {
	font-size: $h2FontSize;
	line-height: $headingLineHeight;
}
.h3,
h3 {
	font-size: $h3FontSize;
	line-height: $headingLineHeight;
}
.h4,
h4 {
	font-size: $h4FontSize;
	line-height: $headingLineHeight;
}
.h5,
h5 {
	font-size: $h5FontSize;
	line-height: $headingLineHeight;
}
.h6,
h6 {
	font-size: $h6FontSize;
	line-height: $headingLineHeight;
}
