<form id="loginForm" class="form" ng-submit="submitLoginForm()">
	<fieldset>
		<div class="form-block">
			<label for="loginForm-login" class="pull-center">Логин</label>
			<input type="text" id="loginForm-login" autocomplete="off">
		</div>
		<div class="form-block">
			<label for="loginForm-password" class="pull-center">Пароль</label>
			<input type="password" id="loginForm-password" autocomplete="off">
		</div>
		<div class="form-block submit-block pull-center">
			<button id="loginForm-submit" type="submit" class="btn btn-primary">Войти</button>
		</div>
	</fieldset>
</form>